.inputFeild {
   width: 25rem;
   height: 2rem;
   background-color: rgb(94, 78, 85);
   padding-left: 20px;
   margin-top: 10px;
   margin-left: 300px;
   border : 2px solid rgb(49, 20, 56);
   border-radius: 1rem;
}
.textArea{
    width: 25rem;
    height: 10rem;
    background-color: rgb(94, 78, 85);
    padding-left: 20px;
    margin-top: 10px;
    margin-left: 300px;
    border : 2px solid rgb(49, 20, 56);
    border-radius: 1rem;
}
.basic-single{
    width: 27rem;
    margin-top: 10px;
    margin-left: 300px;
    background-color: rgb(94, 78, 85);
    height: 1.5rem;

}
.DatePicker{
    width: 27rem;
    height: 3rem;
    margin-top: 10px;
    margin-left: 300px;
    background-color: rgb(94, 78, 85);
    height: 1.5rem;
    border : 2px solid rgb(49, 20, 56);
  
}
.sumbit-btn{
    border: 2px solid #8d73c4;
  height: 50px;
  width: 100px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  margin-left: 330px;
    margin-top: 20px;
}
.forminput{
    background-color: aqua;
    width: 500px;
    
}
 